* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.container {
  margin: 100px auto;
  max-width: 1105px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
}
